# Dépendances
node_modules/
backend/node_modules/
backend/.env


frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/dist
frontend/dist-ssr
frontend/.vite


# Build
dist/
build/

# Divers
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?